*
{
    padding: 0;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.outer_div
{
    margin: auto;
    width: 85%;
    height: 135px;
    /* border: 1px solid black; */
    display: flex;
    box-sizing: border-box;
}
.brand_logo img
{
    width: 300px;
    height: 75px;
    /* border: 1px solid red; */
    margin-top: 30px;
    cursor: pointer;
}
.top
{
    /* border: 1px solid red; */
    width: 1240px;
    height: 50px;
    margin-left: 5px;
    display: flex;
    box-sizing: border-box;
    padding-top: 13px;
    padding-left: 650px;
}
.st img
{
    width: 25px;
    height: 13px;
}
.st
{
    margin-left: 25px;
}
.down_arrow
{
    /* border: 1px solid yellow; */
    margin-top: -2px;
}
.bottom
{
    display: flex;
    /* border: 1px solid green; */
    width: 1240px;
    height: 70px;
    margin-left: 5px;
}
.searchbar
{
    display: flex;
    /* border: 1px solid red; */
    width: 615px;
    box-sizing: border-box;
    margin-left: 150px;
    padding-top: 20px;
}
.searchbar input
{
    width: 500px;
    height: 35px;
    margin-top: -5px;
    border: 3px solid #ffda00;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* .searchbar input
{
    border: 1px solid #ffda00;
} */
.all
{
    border: 3px solid #ffda00;
    width: 45px;
    height: 41px;
    margin-top: -5px;
    box-sizing: border-box;
    padding-top: 8px;
    padding-left: 15px;
    border-right: none;
    border-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.down_arrow1
{
    border: 3px solid #ffda00;
    margin-top: -5px;
    height: 42px;
    box-sizing: border-box;
    padding-top: 4px;
    border-left: none;
    border-right: none;
}
.search1
{
    border: 3px solid #ffda00;
    width: 35px;
    height: 41px;
    margin-top: -5px;
    background-color: #ffda00;
    box-sizing: border-box;
    padding-top: 5px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    cursor: pointer;
}
.signin
{
    /* border: 1px solid yellow;  */
    display: flex;
    box-sizing: border-box;
    padding-top: 15px;
    margin-left: 80px;
}
.signin button
{
    width: 65px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.fav
{
    display: flex;
    /* border: 1px solid yellow;     */
    padding-top: 15px;
    margin-left: 70px;
}
.fav button
{
    width: 105px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.cart
{
    display: flex;
    /* border: 1px solid yellow;     */
    padding-top: 15px;
    margin-left: 70px;
}
.cart button
{
    width: 75px;
    height: 100%;
    background-color: white;
    border: none;
    cursor: pointer;
}
.options
{
    display: flex;
    height: 50px;
    width: 85%;
    /* border: 1px solid yellow; */
    margin: auto;
}
.cat
{
    border: 1px solid black;
    width: 300px;
    color: white;
    background-color: black;
    box-sizing: border-box;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    padding-top: 8px;
}
.app
{
    width: 400px;
    background-color: #ffda00;
    box-sizing: border-box;
    font-size: 23px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 125px;
    cursor: pointer;
}
.app:hover
{
    text-decoration-line: underline;
}
.arr
{
    width: 850px;
    background-color: #ffda00;
    box-sizing: border-box;
    font-size: 23px;
    font-weight: 600;
    padding-top: 10px;
    cursor: pointer;
}
.arr:hover
{
    text-decoration-line: underline;
}
#slide
{
    display: flex;
    overflow: hidden;
    margin: auto;
    width: 85%;
}
#slide img
{
    width: 100%;
    cursor: pointer;
}