*
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.brand_logo img
{
    width: 280px;
    height: 65px;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 100px;
}
.bgrnd
{
    background-color: white;
    width: 100%;
    /* height: 825px; */
    /* border: 1px solid black; */
    padding-bottom: 50px;
}
.div_1
{
    display: flex;
}
.shop
{
    margin-top: 50px;
    /* border: 1px solid black; */
    margin-left: 595px;
    height: 35px;
    width: 350px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 7px;
    color: white;
    background-color: black;
}
.ship
{
    margin-top: 50px;
    /* border: 1px solid black; */
    margin-left: 20px;
    height: 35px;
    width: 350px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 7px;
    background-color: rgb(247, 247, 247);
}
.pay
{
    margin-top: 50px;
    /* border: 1px solid black; */
    margin-left: 20px;
    height: 35px;
    width: 350px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 7px;
    background-color: rgb(247, 247, 247);
}
.txt1
{
    margin-left: 100px;
    margin-top: 25px;
    /* border: 1px solid blue; */
    font-size: 27px;
}
.item1
{
    /* border: 1px solid blue; */
    margin-left: 325px;
    color: gray;

}
.price1
{
    /* border: 1px solid blue; */
    margin-left: 700px;
    color: gray;
}
.qty1
{
    /* border: 1px solid blue; */
    margin-left: 120px;
    color: gray;
}
.total1
{
    /* border: 1px solid blue; */
    margin-left: 120px;
    color: gray;
}
.box1
{
    border: 1px solid thistle;
    margin: auto;
    width: 1400px;
    height: 45px;
    margin-top: 20px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 12px;
    color: orangered;
}
.shop_btn
{
    width: 200px;
    height: 40px;
    color: gray;
    background-color: white;
    margin-left: 100px;
    margin-top: 35px;
    border-color: thistle;
    cursor: pointer;
}
.summary
{
    /* border: 1px solid black; */
    width: 1253px;
    height: 360px;
    margin-left: 275px;
    background-color: rgb(247, 247, 247);
    box-sizing: border-box;
    padding: 50px;
    margin-top: 25px;
    display: flex;
}
.copy
{
    display: flex;
}
.copy img
{
    width: 40px;
    height: 40px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 25px;
}
.side_div
{
    margin-left: 250px;
}
.days
{
    margin-top: 100px;
}
.coun
{
    font-size: 20px;
    font-weight: 600;
}
.subtotal
{
    margin-top: 20px;
}
#subtot_amt
{
    margin-left: 115px;

}
.discount
{
    margin-top: 15px;
}
.dis_amt
{
    margin-left: 140px;
}
.total
{
    margin-top: 15px;
}
#tot_amt
{
    font-size: 20px;
    font-weight: 600;
    margin-left: 120px;
}
.promo
{
    margin-top: 25px;
}
.input
{
    width: 170px;
    height: 25px;
    font-size: 17px;
}
.apply
{
    margin-left: 10px;
    background-color: black;
    color: white;
    width: 75px;
    height: 28px;
    font-size: 17px;
    cursor: pointer;
}
.flash
{
    margin-top: 25px;
    color: gray;
}
.checkout_btn
{
    width: 260px;
    height: 40px;
    margin-top: 20px;
    margin-left: 0px;
    background-color: #ffda00;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
#box2
{
    /* display: flex; */
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid thistle;
    margin: auto;
    width: 1400px;
    height: auto;   
    border-top: none;
    padding: 25px;
}
#box2 div
{
    display: flex;
    border: 1px solid thistle;
    margin-top: 25px;
}
#box2 div img
{
    width: 30%;
    height: 40%;
    /* border: 1px solid red; */
}
#pro-name
{
    width: 450px;
    /* border: 1px solid rgb(128, 0, 107); */
    margin-left: 25px;
    box-sizing: border-box;
    padding: 150px 25px 25px 25px;
    text-align: center;
}
#pro_price
{
    /* border: 1px solid blue; */
    margin-left: 90px;
    margin-top: 150px;
    height: 25px;
}
#pro_qty
{
    /* border: 1px solid yellow; */
    margin-left: 15px;
    margin-top: 150px;
    width: 50px;
    align-items: center;
    height: 25px;
    justify-content: center;
    background-color: rgb(240, 238, 240);
}
.pro_qty span
{
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.pro_qty span.num
{
    pointer-events: none;
}
.pro_pri1
{
    border: 1px solid blue;
    margin-left: 145px;
    margin-top: 50px;
    font-size: 17px;
    font-weight: 800;
}